body {
  padding-bottom: 150px; /* da footer ne preseče dropdown */
}
.dropdown-menu {
  overflow: visible;
  z-index: 1055; /* više od modala */
}
#table-wrapper{
  overflow: visible;
}
.table-responsive {
  overflow: visible !important;
  position: static !important;
}